input, button, textarea {
  outline: none;
  border: none;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-family: Roboto;
  background-color: #f2f2f2;
}

.main {
  background-color: #f2f2f2;
  padding: 48px 0;
}

@media (max-width: 992px) {
  .main {
    padding-top: 0;
    padding-bottom: 25px;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    max-width: 880px;
  }
}

.container_s {
  max-width: 1145px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container_s {
    max-width: 880px;
  }
}

.s-block {
  display: block;
}

.title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
  color: #2F2F51;
}

.controls__button {
  padding: 13px 24px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  outline: none;
  background: none;
  border-radius: 3px;
}

.controls__button:focus {
  color: #fff;
  background: #ef7f04;
}

.controls__item:not(:last-child) {
  margin-right: 5px;
}

* {
  box-sizing: border-box;
}

.header {
  font-family: Roboto;
  color: #2F2F51;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

@media (max-width: 992px) {
  .header__row {
    height: 97px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__burger {
  position: relative;
  width: 56px;
  height: 35px;
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  .header__burger {
    display: block;
    margin-right: 44px;
  }
}

.header__logo {
  display: block;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .header__buttons {
    display: block;
    margin-left: 15px;
  }
}

.header__buttons .button1 {
  color: #fff;
  background-color: #EF7F04;
  border: none;
  border-radius: 3px;
  margin-right: 14px;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 18px;
  margin-right: 14px;
}

@media (max-width: 1000px) {
  .header__buttons .button1 {
    margin-bottom: 10px;
  }
}

.header__buttons .button1 img {
  margin-right: 13px;
}

.header__buttons .button2 {
  color: #fff;
  background-color: #3B3A63;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 18px;
}

.header__buttons .button2 img {
  margin-right: 13px;
}

.burger__span, .burger::after, .burger::before {
  position: absolute;
  left: 0;
  height: 20%;
  width: 100%;
  background-color: #EF7F1A;
}

.burger::before, .burger::after {
  content: "";
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger__span {
  top: 40%;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .menu__list {
    display: none;
  }
}

.menu__list li:not(:last-child) {
  margin-right: 28px;
}

.menu__list li a {
  text-decoration: none;
  position: relative;
  color: #000;
}

.menu__list li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: -20px;
  left: 0;
  background-color: transparent;
}

.menu__list li a:hover {
  color: #EF7F04;
}

.menu__list li a:hover:before {
  background-color: #EF7F04;
}

.advantages {
  font-family: Roboto;
  min-height: 562px;
  margin-bottom: 30px;
  background-image: url(../img/advantages/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.advantages__row {
  display: flex;
  padding-top: 30px;
}

.advantages__left {
  padding: 60px 52px 0 85px;
}

@media (max-width: 992px) {
  .advantages__right {
    display: none;
  }
}

.advantages .right__feedback {
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 43px 40px 65px 40px;
  width: 405px;
  position: relative;
}

.advantages .right__feedback .agree {
  height: 25px;
  width: 25px;
}

.advantages .right__feedback img {
  position: absolute;
  left: -90px;
  bottom: -60px;
}

.advantages .feedback__title {
  font-weight: 700;
  font-size: 18px;
  color: #2f2f51;
  margin-bottom: 27px;
}

.advantages .feedback__inputs {
  margin-bottom: 24px;
}

.advantages .feedback__inputs > input {
  width: 100%;
  height: 40px;
  display: block;
  background-color: #e2e2e2;
  margin-bottom: 15px;
  border-radius: 3px;
}

.advantages .feedback__inputs > input::placeholder {
  color: #424268;
  font-size: 14px;
  line-height: 16px;
}

.advantages .feedback__agree {
  display: flex;
  align-items: center;
}

.advantages .feedback__agree label {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  margin-left: 10px;
}

.advantages .feedback__conditions {
  text-decoration: none;
  color: #4B67AF;
}

.advantages .feedback__button {
  padding: 19px 40px;
  color: #fff;
  font-size: 14px;
  background-color: #EF7F04;
  border-radius: 3px;
}

.advantages__title {
  color: #EF7F04;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 33px;
}

.advantages__title_block {
  display: block;
  color: #fff;
  font-size: 36px;
  line-height: 42px;
  font-weight: 100;
}

.advantages__list {
  display: flex;
  margin: 0 -16px;
  justify-content: space-between;
}

.advantages__item {
  padding: 0 16px;
  flex: 0 1 33.333%;
}

.advantage__text {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

.advantage__icon {
  margin-bottom: 25px;
}

.services {
  font-family: Roboto;
  color: #2F2F51;
  margin-bottom: 103px;
}

.cards__row {
  display: flex;
  margin: 0 -6px;
}

@media (max-width: 992px) {
  .cards__row {
    display: block;
    max-width: 596px;
    margin: 0 auto;
  }
}

.cards > li:not(:last-child) {
  margin-bottom: 12px;
}

.cards__item {
  flex: 0 1 50%;
  margin: 0 6px;
}

@media (max-width: 992px) {
  .cards__item {
    margin-bottom: 38px;
  }
}

.cards .card {
  background-size: cover;
  border-radius: 3px;
  height: 268px;
  padding-top: 48px;
  padding-left: 52px;
}

.services__title {
  text-align: center;
  margin-bottom: 48px;
}

.title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.card__header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.card__icon {
  margin-right: 20px;
}

.card__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.card__text {
  font-size: 16px;
  line-height: 19px;
}

.cards__item_card1 {
  background-image: url(../img/services/service_1.jpg);
}

.cards__item_card2 {
  background-image: url(../img/services/service_2.jpg);
}

.cards__item_card3 {
  background-image: url(../img/services/service_3.jpg);
}

.cards__item_card4 {
  background-image: url(../img/services/service_4.jpg);
}

.production {
  color: #2F2F51;
  font-family: Roboto;
  margin-bottom: 54px;
}

.production__title {
  margin-bottom: 42px;
}

.production__controls {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.production__info {
  max-height: 461px;
}

@media (max-width: 992px) {
  .production__info img {
    max-width: 404px;
    min-height: 461px;
  }
}

.production__info {
  padding: 0 calc((100% - 1145px) / 2);
  display: flex;
}

.production__description {
  background-color: #fff;
  padding: 74px 32px 52px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .production__description {
    padding-right: 5px;
    min-width: 476px;
  }
}

.description__title {
  color: #ef7f04;
  font-size: 30px;
  font-weight: 700;
}

.description__subtitle {
  font-size: 18px;
  line-height: 21px;
}

.description__list {
  margin: 0;
  padding: 0;
}

.description__list li {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-weight: 700;
  line-height: 1;
}

.description__list li::before {
  border-bottom: 1px dotted #000;
  content: "";
  flex-grow: 1;
  height: 16px;
  order: 2;
  margin: 0 3px;
}

.props__value {
  order: 3;
  padding-top: 8px;
  width: 125px;
}

.guaranties {
  margin-bottom: 96px;
}

.guaranties__main {
  min-height: 436px;
  background-image: url(../img/guaranties/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 50px 40px;
  margin-bottom: 44px;
}

.guaranties__title {
  text-align: center;
  margin-bottom: 55px;
}

.guaranties__title img {
  width: 300px;
}

.guaranties__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .guaranties__body {
    justify-content: center;
  }
}

.guaranties__item {
  text-align: center;
  flex: 0 1 20%;
}

@media (max-width: 992px) {
  .guaranties__item {
    flex: 0 1 33%;
    margin-bottom: 90px;
  }
  .guaranties__item:nth-child(4), .guaranties__item:nth-child(5) {
    margin-bottom: 0;
  }
}

.guarantee__image {
  margin-bottom: 30px;
  height: 97px;
}

.guarantee__text {
  line-height: 19px;
}

.guaranties__button {
  display: flex;
  align-items: center;
  background-color: #3B3A63;
  color: #fff;
  border-radius: 3px;
  margin: 0 auto;
  padding: 16px 54px 16px 34px;
}

.guaranties__button img {
  margin-right: 20px;
}

.about {
  margin-bottom: 88px;
}

@media (max-width: 992px) {
  .about {
    margin-bottom: 0;
  }
}

.about__title {
  margin-bottom: 42px;
}

.about__controls {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.about__header {
  display: flex;
  margin-bottom: 70px;
  min-height: 461px;
}

.about__left, .about__right {
  flex: 0 1 50%;
}

.about__right {
  background-image: url(../img/about/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about__left {
  display: flex;
  padding: 50px;
}

@media (max-width: 992px) {
  .about__left {
    display: block;
  }
}

.about__subtitle {
  margin-bottom: 62px;
}

.about__text {
  padding-bottom: 16px;
  align-self: end;
  line-height: 22px;
}

.about__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.values__column {
  flex: 0 1 33.333%;
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .values__column {
    flex: 0 1 50%;
  }
}

.value {
  display: flex;
}

.value__icon {
  margin-right: 25px;
}

.value__title {
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
}

.value__text {
  line-height: 36px;
}

.about__button {
  display: flex;
  align-items: center;
  background-color: #EF7F1A;
  color: #fff;
  border-radius: 3px;
  margin: 0 auto;
  padding: 16px 54px 16px 34px;
}

.about__button img {
  margin-right: 20px;
}

.portfolio {
  background-color: #fff;
  border-radius: 3px;
  padding: 50px 100px 70px;
}

@media (max-width: 992px) {
  .portfolio.container {
    max-width: none;
  }
}

.portfolio__title {
  margin-bottom: 48px;
}

.portfolio__row {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .photos__item:last-child {
    display: none;
  }
}

.faq {
  background-color: #EF7F1A;
  border-radius: 7px;
  padding: 40px 100px 64px;
  margin-bottom: 86px;
}

@media (max-width: 992px) {
  .faq {
    padding: 40px;
  }
}

.faq__title {
  color: #fff;
  margin-bottom: 50px;
}

/* ==========accordion============================================================ */
.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-weight: 700;
}

.accordion:hover {
  color: #EF7F1A;
}

.panel {
  margin-bottom: 14px;
  padding: 0 18px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  padding-bottom: 15px;
}

.accordion:after {
  content: url(../img/faq/icons/down.svg);
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: url(../img/faq/icons/up.svg);
}

.contacts {
  padding: 0 50px;
}

.contacts__title {
  margin-bottom: 60px;
}

.contacts__body {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info__title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
}

.contact-details {
  margin-bottom: 58px;
}

.contact-details li {
  display: flex;
  align-items: center;
}

.contact-details li img {
  display: block;
  margin-right: 20px;
}

.contact-details__phones {
  margin-bottom: 50px;
}

.contact-details__address {
  margin-bottom: 16px;
  font-size: 18px;
}

.contact-details__email a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.contact-details__social {
  max-width: 228px;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}

.social__icon {
  transition: transform 0.4s;
}

.social__icon:hover {
  transform: translate(0, -2px);
}

.contacts__number {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: 700;
}

.contacts__number:not(:last-child) {
  margin-right: 50px;
}

.social__note {
  line-height: 22px;
  margin-bottom: 30px;
}

.contact-form {
  position: relative;
}

.contact-form img {
  position: absolute;
  top: 172px;
  left: -314px;
}

@media (max-width: 992px) {
  .contact-form img {
    top: -390px;
    left: 140px;
  }
}

@media (max-width: 992px) {
  .contact-form {
    margin: 0 auto;
  }
}

.request {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 43px 40px 65px 40px;
  position: relative;
}

.request__title {
  font-weight: 700;
  font-size: 18px;
  color: #2f2f51;
  margin-bottom: 27px;
}

.request__inputs > input {
  width: 100%;
  height: 40px;
  display: block;
  background-color: #e2e2e2;
  margin-bottom: 15px;
  border-radius: 3px;
}

.request__inputs > input::placeholder {
  color: #424268;
  font-size: 16px;
  line-height: 19px;
}

.request__inputs > textarea {
  resize: none;
  width: 100%;
  display: block;
  background-color: #e2e2e2;
  padding: 16px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.request__inputs > textarea::placeholder {
  color: #424268;
  font-size: 16px;
  line-height: 19px;
}

.request__inputs {
  margin-bottom: 28px;
}

.request__agree {
  display: flex;
  align-items: center;
}

.request__agree label {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  margin-left: 10px;
}

.request__personal {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #EF7F1A;
}

.request__button {
  padding: 19px 40px;
  color: #fff;
  font-size: 14px;
  background-color: #2F2F51;
  border-radius: 3px;
}

.footer {
  background-color: #2F2F51;
  color: #fff;
  padding: 52px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  display: flex;
  align-items: center;
  gap: 22px;
}

.footer__copyright {
  line-height: 20px;
}

.footer__right {
  display: flex;
  gap: 30px;
}

@media (max-width: 992px) {
  .footer__right {
    font-size: 14px;
    line-height: 36px;
  }
}

.footer__link {
  color: #fff;
  text-decoration: none;
}
