.about {
  margin-bottom: 88px;
  @media (max-width: 992px) { 
     margin-bottom: 0;
  }
  &__title {
    margin-bottom: 42px;
  }
  &__controls {
      display: flex;
      justify-content: center;
      margin-bottom: 34px;
  }
  &__header {
    display: flex;
    margin-bottom: 70px;
    min-height: 461px;
  }
  &__left, &__right {
    flex: 0 1 50%;
  }
  &__right {
    background-image: url(../img/about/image.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__left {
    display: flex;
    padding: 50px;
    @media (max-width: 992px) {
      display: block;
    }
  }
  &__subtitle {
    margin-bottom: 62px;
  }
  &__text {
    padding-bottom: 16px;
    align-self: end;
    line-height: 22px;
  }
  &__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // margin: 0 -30px;
  }

}
.values__column {
  flex: 0 1 33.333%;
  // padding: 0 30px;
  margin-bottom: 100px;
  @media (max-width: 992px) { 
     flex: 0 1 50%; 
  }
}
.value {
  display: flex;
  &__icon {
    margin-right: 25px;
  }
  &__title {
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__text {
    line-height: 36px;
  }
}

.about__button {
  display: flex;
  align-items: center;
  background-color: #EF7F1A;
  color: #fff;
  border-radius: 3px;
  margin: 0 auto;
  padding: 16px 54px 16px 34px;
  img {
    margin-right: 20px;
  }
}