.footer{
  background-color: #2F2F51;
  color: #fff;
  padding: 52px;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    align-items: center;
    gap: 22px;
  }
  &__copyright {
    line-height: 20px;
  }
  &__right {
    @media (max-width: 992px) {
      font-size: 14px;
      line-height: 36px;
    }
    display: flex;
    gap: 30px;
  }
  &__link {
    color: #fff;
    text-decoration: none;
  }
}